*~

# http://www.gnu.org/software/automake

Makefile.in

# http://www.gnu.org/software/autoconf

/example0/autom4te.cache
/example0/config.log
/example0/config.status
/example0/configure

/example1/autom4te.cache
/example1/aclocal.m4
/example1/compile
/example1/configure
/example1/depcomp
/example1/install-sh
/example1/missing
/example1/stamp-h1
/example1/build-aux
/example1/config.h.in
/example1/Makefile
/example1/config.h
/example1/config.status
/example1/config.log
/example1/.deps

/example1/*.o
/example1/hello

/example2/autom4te.cache
/example2/aclocal.m4
/example2/compile
/example2/configure
/example2/depcomp
/example2/install-sh
/example2/missing
/example2/stamp-h1
/example2/build-aux
/example2/config.h.in
/example2/Makefile
/example2/config.h
/example2/config.status
/example2/config.log
/example2/**/.deps
/example2/**/.dirstamp

/example2/**/*.o
/example2/hello
